Hi, <%= name %>
Thanks for getting started with our <%= portalUri %>!
We need a little more information to complete your registration, including a confirmation of your email address.

Click the url below to confirm your email address:

<%= verificationUri %>

If you have problems, please paste above url into your web browser, and enter this code to activate your account:

<%= code %>


If you have any questions, send us an email <%= supportEmail %>.

We're glad you're here!
The "<%= companyName %>" team.