<link rel="stylesheet" href="../../assets/bootstrap.min.css" data-inline />
<link rel="stylesheet" href="../../assets/registration.css" data-inline />
<body class="bg-light">
  <div class="container p-5">
    <div class="card my-10">
      <div class="card-body">
        <h3 class="h3 mb-2">Hi, <%= name %>!</h3>
        <h6 class="text-teal-700">Thanks for getting started with our <%= portalUri %></h6>
        <hr>
        <div class="space-y-3 text-justify">
          <p class="text-gray-700">We need a little more information to complete your registration, including a confirmation of your email address.</p>
          <p class="text-gray-700">Click button below to confirm your email address:</p>
          <a class="btn btn-primary" href="<%= verificationUri %>" target="_blank">Give me an access</a>
        </div>
        <br/>
        <div class="space-y-2 text-justify">
          <p class="text-gray-200 text-small">If you have problems, please paste this url:
            <br/><code><a href="<%= verificationUri %>"><%= verificationUri %></a></code>
            <br/><span>into your web browser, and enter this code to activate your account:</span>
            <br/><code><%= code %></code>
          </p>
        </div>
        <hr>
        <div class="space-y-2 text-justify">
          <p class="text-gray-700">
            Have any questions? send us an email <%= supportEmail %>.<br/><br/>
            We're glad you're here!<br/>
            The <code><%= companyName %></code> team.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>